<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.ExchangeAdmin.BetlistTest.BestListTest"/>
      <class name="com.ExchangeAdmin.RiskManagementTest.RiskManagementTest"/>
      <class name="com.ExchangeAdmin.DownlineListTest.DownlineTest"/>
      <class name="com.ExchangeAdmin.AdminsettingTest.AdminSettingTest"/>
      <class name="com.ExchangeAdmin.LoginTest.LoginTest"/>
      <class name="com.ExchangeAdmin.BankingTest.BankingTest"/>
      <class name="com.ExchangeAdmin.BetlistliveTest.BetlistliveTest"/>
      <class name="com.ExchangeAdmin.MyAccountPageTest.MyAccountPageTest"/>
      <class name="com.ExchangeAdmin.MyReportsTest.MyReportTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
